@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="header-bottom">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="menu menu--francisco">
                        <ul class="nav navbar-nav menu__list">
                            <li class="menu__item"><a href="Index" class="menu__link"><span class="menu__helper">Home</span></a></li>
                            <li class="menu__item"><a href="Properties" class="menu__link"><span class="menu__helper">Properties</span></a></li>
                            <li class="menu__item"><a href="Favorites" class="menu__link"><span class="menu__helper">Favorites</span></a></li>
                            <li class="menu__item menu__item--current"><a href="About" class="menu__link"><span class="menu__helper">About</span></a></li>
                        </ul>
                    </nav>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/">
                            <i class="icon"></i>
                        </a>
                        <a href="https://twitter.com/?lang=en"><i class="icon1"></i></a>
                        <a href="https://plus.google.com/#"><i class="icon2"></i></a>
                        <a href="https://www.linkedin.com/uas/login"><i class="icon3"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
            </div>
        </nav>
    </div>
</div>
<!--header-->
<!--................................................................-->

    <!--about-->
    <div class="content">
        <div class="about-w3ls">
            <div class="container">
                <h2 class="tittle">About us</h2>
                <div class="about-grids">
                    <div class="col-md-6 about-grid1">
                        <img src="~/Content/images/a.png" class="img-responsive" alt="property" />
                    </div>
                    <div class="col-md-6 about-grid">
                        <h4>We Are The Best </h4>
                        <p>A fractional designation uses rectangular surveying to correctly describe the land in sections. Metes and Bounds: This form of description uses references, such as streets and rivers to identify each point of the property (north, south, east, and west). Lot and Block Survey: The newest land description system seen.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="company-w3">
            <div class="container">
                <h3 class="tittle1">Real Estates</h3>
                <div class="company-grids">
                    <div class="col-md-4 company-grid multi-gd-text">
                        <a href="properties.html"><img src="~/Content/images/c1.jpg" class="img-responsive" alt="property"></a>
                        <h4>Estate 1 </h4>
                        <p>A fractional designation uses rectangular surveying to correctly describe the land in sections...</p>
                    </div>
                    <div class="col-md-4 company-grid multi-gd-text">
                        <a href="properties.html"><img src="~/Content/images/c2.jpg" class="img-responsive" alt="property"></a>
                        <h4>Estate 2 </h4>
                        <p>A fractional designation uses rectangular surveying to correctly describe the land in sections...</p>
                    </div>
                    <div class="col-md-4 company-grid multi-gd-text">
                        <a href="properties.html"><img src="~/Content/images/c3.jpg" class="img-responsive" alt="property"></a>
                        <h4>Estate 3</h4>
                        <p>A fractional designation uses rectangular surveying to correctly describe the land in sections...</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>